<a href="https://colab.research.google.com/github/Prishletsova/Osnovy_programming/blob/main/%D0%9B%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Программирование на языке высокого уровня (Python).
# Выполнила: Пришлецова К. С.
# Группа: АДЭУ-221
# E-mail: greypurplenails78@gmail.com

5.2.1. Глобальные и локальные функции


№ 5.2.1

Определите значение ![image.png]() где sgn - сигнум-функция, а x и y - вещественные числа: ![image.png]()

In [ ]:
# Задание task_05_02_01.

def sgn():
  return (float(x) for x in input("Введите x, y: ").split())

def function(a):
  if a>0:
    res=1
    return res
  elif a==0:
    res=0
    return res
  elif a<0:
    res=-1
    return res

def znachenie(a, b):
  if (a==0 and b==0 or abs(a)==abs(b) or abs(a)-abs(b)==1):
    return
  z=(function(a)+b**2)/(function(b)-(abs(a))**0.5)
  return z

def print_res(res):
  if res:
    print("Ответ: {:.2f}".format(res))
  else:
    print("Проверить ОДЗ")

    """Вернуть результат сигнум-функции.

    Параметры:
        - x (float): аргумент x.

    Результат:
        float: значение функции.
    """

# --------------
# Пример вывода:
#
# Введите x: -9
# Введите y: 0
# Ответ: 0.33

In [ ]:
x, y = sgn()
res = znachenie(x, y)
print_res(res)

Введите x, y: -9 0
Ответ: 0.33

№ 5.2.2

Дан список температурных изменений в течение дня (целые числа). Известно, что измеряющее устройство иногда сбоит и записывает отсутствие температуры (значение None).

In [ ]:
# Задание task_05_02_02.

def input_data():
  for i in range(n):
    dimension = input("Измерение {}-е: ".format(i+1))
    if dimension == "-":
      data.append(None)
    else:
      data.append(int(dimension))
    i += 1

def avg(new_data):
  return sum(new_data) / len(new_data)

def cleared_data(data):
  new_data = []
  for x in data:
    if x != None:
      new_data.append(x)
  return new_data

def print_res2():
  z = avg(cleared_data(data))
  print("Средняя температура: {:.2f}".format(z))
# --------------
# Пример вывода:
#
# Кол-во измерений: 3
# Измерение 1-е: 10
# Измерение 2-е: -
# Измерение 3-е: 20
# Средняя температура: 15.00

In [ ]:
n = int(input("Количество измерений: "))

data = []

input_data()

print_res2()

Количество измерений: 3
Измерение 1-е: 10
Измерение 2-е: -
Измерение 3-е: 20
Средняя температура: 15.00

№ 5.2.3

Выведите все счастливые номера билетов в диапазоне от a до b (положительные целые числа, a<b), если известно, что счастливым считается номер, у которого количество четных цифр равно количеству нечетных.

In [ ]:
def input_data():
  return (int(x) for x in input("Введите первый номер билета и последний номер билета: ").split())

def is_lucky(num):
  even = 0
  odd = 0
  for i in map(int, str(num)):
    if i % 2 == 0:
      even += 1
    else:
      odd += 1
  if even == odd:
    lucky_num.append(num)
  else:
    pass

def lucky_numbers(a, b):
  num = a
  while num in range(a, b + 1):
    is_lucky(num)
    if num in lucky_num:
      lk_num.append(num)
      num += 1
    else:
      num += 1
  return lk_num

In [ ]:
lucky_num = []
number = []
lk_num = []

a, b = input_data()

print(lucky_numbers(a, b))

Введите первый номер билета и последний номер билета: 10 25
[10, 12, 14, 16, 18, 21, 23, 25]

№ 5.2.4

Дата характеризуется тремя натуральными числами: день, месяц и год. Учитывая, что год может быть високосным, реализуйте две функции, которые определяют вчерашнюю и завтрашнюю дату.

In [ ]:
def input_data():

  return (int(x) for x in input("День, месяц, год: ").split())

def is_leap(year):
  if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    febrary_day = 29
  else:
    febrary_day = 28
  return febrary_day

def days(month, year):
  month_day_31 = [1, 3, 5, 7, 8, 10 ,12]
  month_day_30 = [4, 6, 9, 11]
  if month in month_day_31:
    date = 31
  elif month in month_day_30:
    date = 30
  else:
    date = is_leap(year)
  return date

def previous_date(day, month, year):
  if day == 1:
    month -= 1
    if month == 0:
      year -= 1
      month = 12
      day=days(month, year)
    else:
      year = year
      month = month
      day = days(month, year)
  else:
    day -= 1
    month = month
    year = year
  return day, month, year

def next_date(day, month, year):
  if day == days(month, year):
    month += 1
    if month == 13:
      month = 1 
      year += 1
      day = 1
    else:
      month = month
      day = 1
      year = year
  else:
    day += 1
    month = month
    year = year
  return day, month, year

In [ ]:
day, month, year = input_data()
print("Предыдущий день: ",previous_date(day, month, year))
print("Следующий день: ", next_date(day, month, year)) 

# --------------
# Пример вывода:
#
# День, месяц, год через пробел: 1 3 2000
# Предыдущий день: 29/02/2000
# Следующий день: 02/03/2000

День, месяц, год: 1 3 2000
Предыдущий день:  (29, 2, 2000)
Следующий день:  (2, 3, 2000)

№ 5.2.5

В задаче № 5.2.4 замените функции получения вчерашней и завтрашней даты на одну:

def another_date(day, month, year, delta=1):
    pass
    
где delta - ключевой параметр, определяющий сколько дней необходимо добавить или вычесть (если аргумент отрицательный) из переданной даты. Функции, реализованные в задаче № 5.2.4 сделайте локальными для another_date(), вызывая их внутри необходимое количество раз.

In [1]:
# Задание task_05_02_05.

def input_data():

  return (int(x) for x in input("День, месяц, год: ").split())

def is_leap(year):
  if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    febrary_day = 29
  else:
    febrary_day = 28
  return febrary_day

def days(month, year):
  month_day_31 = [1, 3, 5, 7, 8, 10 ,12]
  month_day_30 = [4, 6, 9, 11]
  if month in month_day_31:
    date = 31
  elif month in month_day_30:
    date = 30
  else:
    date = is_leap(year)
  return date


def another_date(day, month, year, delta = 1):
  def previous_date(day, month, year):
    if day == 1:
      month -= delta
      if month == 0:
        year -= delta
        month = 12
        day=days(month, year)
      else:
        year = year
        month = month
        day = days(month, year)
    else:
      day -= delta
      month = month
      year = year
  return day, month, year
  
  def next_date(day, month, year):
    if day == days(month, year):
      month += delta
      if month == 13:
        month = delta 
        year += delta
        day = delta
      else:
        month = month
        day = delta
        year = year
    else:
      day += delta
      month = month
      year = year
  return day, month, year

return previous_date()

# --------------
# Пример вывода:
#
# День, месяц, год через пробел: 1 1 2000
# Свдиг (может быть отрицательным): -2
# Новый день: 30/12/1999
#
# День, месяц, год через пробел: 1 1 2000
# Свдиг (может быть отрицательным): 2
# Новый день: 03/01/2000

In [2]:
day, month, year = input_data()
print("Предыдущий день: ",previous_date(day, month, year))
print("Следующий день: ", next_date(day, month, year)) 

# --------------
# Пример вывода:
#
# День, месяц, год через пробел: 1 3 2000
# Предыдущий день: 29/02/2000
# Следующий день: 02/03/2000

День, месяц, год: 1 3 2000

NameError: ignored

№ 5.2.6

Дан список из чисел.

Определите их НОК (наименьшее общее кратное) и НОД (наибольший общий делитель).

In [ ]:
# Задание task_05_02_06.

def gcd(first, second):
    """Вернуть НОД целых чисел 'first' и 'second'."""
    # Удалите комментарий и допишите код


def lcm(first, second):
    """Вернуть НОК целых чисел 'first' и 'second'."""
    # Удалите комментарий и допишите код


def gcd_nums(nums):
    """Вернуть НОД чисел из списка 'nums'.

    Параметры:
        !!!.

    Результат:
        !!!.
    """
    # Удалите комментарий и допишите код


def lcm_nums(nums):
    """Вернуть НОК чисел из списка 'nums'.

    Параметры:
        !!!.

    Результат:
        !!!.
    """
    # Удалите комментарий и допишите код

x = int(input())

nums = # Удалите комментарий и допишите код

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Введите числа через пробел: 8 10 14
# НОД = 2
# НОК = 280
#
# Введите числа через пробел: 6 8 24 16
# НОД = 2
# НОК = 48

№ 5.2.8

Дана строка s и символ k. Реализуйте функцию, рисующую рамку из символа k вокруг данной строки, например:

***************
*Текст в рамке*
***************

In [ ]:
def stroka():
  return(input("Введите строку: "))

def simvol():
  return(input("Введите символ: "))

def print_with_border(s, k):
  s_len = len(s)
  print(k * (s_len + 2))
  print(k + s + k)
  print(k * (s_len + 2))

In [ ]:
s = stroka()
k = simvol()
print_with_border(s, k)

Введите строку: я и мои мысли перед сном
Введите символ: *
**************************
*я и мои мысли перед сном*
**************************